In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('Z_sani.csv')
df.columns
# 1: oh 2: or 3:mm 4: std 5:target
encode_list = [3,3,3,1,3,1,1,1,1,1,1,1,1,1,1,1,1,3,3,
          1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,
          4,4,4,4,4,4,4,3,3,3,4,4,3,4,4,1,2,5]

In [2]:
from sklearn.model_selection import train_test_split
X = df.drop('Cath', axis=1)
y = df['Cath']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4)

In [3]:
from sklearn.preprocessing import OneHotEncoder,OrdinalEncoder,MinMaxScaler,StandardScaler,LabelEncoder
train_col_to_drop = pd.DataFrame({df.columns[0]:X_train[df.columns[0]]})
test_col_to_drop = pd.DataFrame({df.columns[0]:X_test[df.columns[0]]})
for i in range(56):
    if encode_list[i] == 1:
        train = pd.DataFrame({df.columns[i]:X_train[df.columns[i]]})
        test = pd.DataFrame({df.columns[i]:X_test[df.columns[i]]})
        cd = OneHotEncoder(sparse=False,handle_unknown = "ignore")
        X_t_train = cd.fit_transform(train)
        X_t_test = cd.transform(test)
    if encode_list[i] == 2:
        train = pd.DataFrame({df.columns[i]:X_train[df.columns[i]]})
        test = pd.DataFrame({df.columns[i]:X_test[df.columns[i]]})
        cd = OrdinalEncoder(categories = [['N','mild','Moderate','Severe']])
        X_t_train = cd.fit_transform(train)
        X_t_test = cd.transform(test)
    if encode_list[i] == 3:
        train = pd.DataFrame({df.columns[i]:X_train[df.columns[i]]})
        test = pd.DataFrame({df.columns[i]:X_test[df.columns[i]]})
        cd = MinMaxScaler()
        X_t_train = cd.fit_transform(train)
        X_t_test = cd.transform(test)
    if encode_list[i] == 4:
        train = pd.DataFrame({df.columns[i]:X_train[df.columns[i]]})
        test = pd.DataFrame({df.columns[i]:X_test[df.columns[i]]})
        cd = StandardScaler()
        X_t_train = cd.fit_transform(train)
        X_t_test = cd.transform(test)
    train_col_to_drop = np.concatenate((train_col_to_drop,X_t_train),axis=1)
    test_col_to_drop = np.concatenate((test_col_to_drop,X_t_test),axis=1)
le = LabelEncoder()
y_train_le = le.fit_transform(y_train)
y_test_le = le.transform(y_test)
train_data = pd.DataFrame(train_col_to_drop).drop(0,axis=1)
test_data = pd.DataFrame(test_col_to_drop).drop(0,axis=1)
train_data['y'] = y_train_le
test_data['y'] = y_test_le

In [4]:
train_data.head()

,1,2,3,4,5,6,7,8,9,10,...,84,85,86,87,88,89,90,91,92,y
0,0.589286,0.333333,0.520833,0.0,1.0,0.358586,1.0,0.0,0.0,1.0,...,-0.622935,0.861461,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.357143,0.444444,0.729167,0.0,1.0,0.344216,1.0,0.0,0.0,1.0,...,-0.475277,0.323420,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1
2,0.535714,0.430556,0.708333,0.0,1.0,0.342922,0.0,1.0,0.0,1.0,...,-0.977313,0.861461,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0
3,0.821429,0.513889,0.812500,0.0,1.0,0.362235,1.0,0.0,0.0,1.0,...,-0.770592,0.323420,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0
4,0.714286,0.097222,0.625000,0.0,1.0,0.029539,1.0,0.0,0.0,1.0,...,0.779811,-0.752664,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0

In [5]:
test_data.head()

,1,2,3,4,5,6,7,8,9,10,...,84,85,86,87,88,89,90,91,92,y
0,0.482143,0.583333,0.583333,1.0,0.0,0.600052,1.0,0.0,0.0,1.0,...,-0.563872,0.323420,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0
1,0.250000,0.166667,0.291667,1.0,0.0,0.307692,1.0,0.0,1.0,0.0,...,0.292541,0.323420,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1
2,0.357143,0.694444,0.729167,0.0,1.0,0.605033,1.0,0.0,0.0,1.0,...,-0.032305,0.323420,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1
3,0.625000,0.333333,0.208333,1.0,0.0,0.605033,0.0,1.0,0.0,1.0,...,0.071055,0.323420,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0
4,0.303571,0.250000,0.625000,0.0,1.0,0.198441,0.0,1.0,0.0,1.0,...,-0.371917,-0.214622,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0

In [6]:
for i in range(56):
    if encode_list[i] ==4:
        print(df.columns[i])

FBS
CR
TG
LDL
HDL
BUN
ESR
WBC
Lymph
PLT
EF-TTE

In [7]:
train_data.to_csv("train.csv")